.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  
  font-size: 20px;
}

.input-text{
  border: none;
  border-bottom: 2px solid red;
  
}
.size-box{
  width: 100;
}
.add-btn{
 
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn{
  background-color: #f70303; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
